#principal {
  width: 900px;
  height: auto; overflow:hidden;
  border: 0px solid black;
  margin: auto;
color: white;
}

header{
  width: 900px;
  height: 100px;
  border: 0px solid black;
}
#logo {
  width: 210px;
  height:100px;
  border: 0px solid black;
  border-radius: 25px;
  border-style: ridge;
  padding: 5px;
  float:left;
  text-align: center;

}
.menu {

  width: 442px;
  height: 40px;
  border: 0px solid black;
  border-radius: 30px;
<!--  float: left;-->
<!--  margin-top: 60px;-->
<!-- background: #006699;-->
}
.menu ul{color: white;}

.menu ul li {
  list-style: none;
  float:left;
}
.menu ul li a{
  text-decoration: none;
  padding: 5px 20px;
  border: 0px solid grey
  color: white;
}
.menu ul li a:hover{
  background: grey;
  color: white;
  transition: background 1.5s, color 1s;
}
<!--#slide{
  margin-top: 10px;
  width: 900px;
  height: 250px;-->
}
.slider {
  width: 900px;
  height: 600px;
  overflow: hidden;
}
.slider-img{
  width:900px;
  height:600px;
}
  .slider ul{
    display: flex;
    padding: 0;
    animation: cambio 10s infinite;
    animation-direction: alternate;
  }
  .slider li{
    width: 100%
    list-style: none;
  }
  @keyframes cambio {
    0% {margin-left: 0%;}
    45% {margin-left: 0%;}

    55% {margin-left: -100%;}
    100% {margin-left: -100%;}
  }
#categorias {
  width: 900px;
  height: auto;overflow: hidden;
  border: 0px solid black;
  margin-top: 10px;
}
.uno {
  width: 290px;
  height: 495px; overflow: hidden;
  border: 1px solid #ccc;
  float:left;
  padding: 25px 5px 5px 5px;
  text-align: center;
  border-radius: 25px
}
.uno:hover{
  background: grey;
  transition: background 1s;
  border-radius: 25px;
}
.dos{
  margin-left: 13px;
  margin-right: 13px;

}
.leer-mas{
  text-decoration:none;
  padding: 10px 20px 10px 20px;
  margin: 10px;
}
.leer-mas:hover{
  text-decoration: none;
  background: #006699;
  color: white;
  transition: background 1s, color 1s;
  border-radius: 25px;
}
#info {

width: 900px;
height: auto; overflow: hidden;
border: 1px solid black;
margin-top: 10px;
}
#izq {
  width: 585px;
  height: 300px;
  border: 1px solid #ccc;
  float: left;
  padding: 10px;
  border-radius: 25px;

}
#izq:hover{
  background:grey;
  transition: background 1s;
}
#der{
  width: 290px;
  height: 300px;
  border: 1px solid #ccc;
  float: right;
}
footer{

  margin-top: 100px;
  width: 1100;
text-align: center;
}
@media screen and (max-width:500px){
  #principal{
    width: 100%;
  }
  header {
    background-position: center;
    width:100%;
    height: 300px;
  }
  #logo{
height:10px;

  }
  .menu{
margin-top: -20px;
  }
  .menu ul{
    margin-top: 30px;
    border-top: 5px;
  }
  .menu ul li {
    margin-left: 0px;
    float:left;
    align-items: center;
  }
  .menu ul li a{
    float: left;
  }
  .slider {
    width: 501px;
    height: 300px;
    margin-top: -130px;
  }
.slider-img{
    width:501px;
    height:300px;
  }
  #categorias {
    width: 500px;
    height: auto;overflow: hidden;
    border: 0px solid black;
    margin-top: 20px;
    float: right;

  }
  .uno {
    width: 290px;
    margin-top: 15px;
    margin-left: 104px;
    margin-right: 104px;
    height: 495px; overflow: hidden;
    border: 1px solid #ccc;
    padding: 25px 5px 5px 5px;
    text-align:center;
    border-radius: 25px

  }
  .dos{
    margin-left: 104px;
    margin-right: 104px;

  }
  #info {
  width: 500px;
  height: auto; overflow: hidden;
  border: 0px solid black;
  margin-top: 10px;
  }
  #izq {
    margin-top: 30px;
    margin-left: 49px;
    margin-right: 49px;
    text-align: center;
    width: 400px;
    height: auto;
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    border-radius: 25px;
  }
  .img-cold{
    margin-left: 49px;
  }
  #der{
    margin-top: 20px;
    margin-right: 105px;
    width: 290px;
    height: 300px;
    border: 1px solid #ccc;
  }

}
