

  @media (min-width:901px){
    #fondo{

        background: url(../img/fond.jpeg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: 100%;


    }
  }

  @media (max-width:900px){
    #fondo{
      background: url(../img/bqto.jpeg);
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size: 100%;

    }
  }
  @media (min-width:901px){
    .menu {
      float: right;
      margin-top: 60px;

    }
  }
  @media (max-width:900px){
    .menu{
      float:left;
      margin-top: 60px;

    }
  }
